@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
nav {
    background-color: #861657;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  nav a {
    color: #fff;
    position: relative;
    margin-left: 30px;
    text-decoration: none;
  }
  
  nav a::after {
    content: '';
    border-bottom: 3px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease;
    opacity: 0;
    height: 100%;
    width: 100%;
  }
  
  nav a:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  


body {
font-family: 'Open Sans', sans-serif;
max-width: 450px;
width: 80%;
margin: 0 auto;
background-color: #354044;
font-size: 16px;
}


div {
  margin-bottom: 20px;
}

h2 , label {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: #FDFEFF;
}

h2 {
  width: 360px;
  font-size: 4rem;
}


input {
  max-width: 400px;
  width: 80%;
  height: 1.8rem;
  border: 0;
}

textarea {
  display: block;
  max-width: 450px;
  width: 80%;
  height: 150px;
  border: 0;
  padding: 0;
}

button {
  background-color: #98554F;
  font-family: 'Open Sans', sans-serif;
  max-width: 450px;
  width: 80%;
  border: 0;
  color: #FDFEFF;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px 0;
  cursor: pointer;
}

button:hover {
  transition: all 0.5s ease-in-out;
  background-color: #FDFEFF;
  color: #98554F;
}
